body {
    height: 100vh;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    background: linear-gradient(148deg,rgba(18, 23, 26, 1) 0%, rgba(33, 44, 51, 1) 66%, rgba(33, 57, 71, 1) 100%);;
    color: white;
    font-size: 1.25em;
    font-family: "SN Pro", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 25px;
    border: 1px solid white;
    width: 60%;
    max-width: 600px;
    height: 200px;
    box-sizing: border-box;
    padding: 40px 25px 25px;
    background-color: rgb(25, 27, 31);
    border-radius: 24px;
}

#round-results {
    display: flex;
    justify-content: center;
    gap: 24px;
}
